{% extends "base.html" %}


{% block content %}
	<h1 style="margin-left: 700px">Log in</h1>
  <div class="centered">

    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}

      {% if form.errors %}
        <p style="color: red">Invalid Credentials</p>
      {% endif %}
      {{ form.as_p }}
      <br>
      <input type="submit" value="Log In" class="default-btn" style="margin-left: 100px">
      <input type="hidden" name="next" value="{{ next }}">
    </form>

  </div>
{% endblock %}