{% extends "base.html" %}

{% block content %}
  {% if user.position.pk is 1 or user.position.pk is 3%}
    <div class="centered_div">
  <h1>Delete position</h1>
  <p>Are you sure you want to delete the position {{ position.name }}?</p>
  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete" class="btn-danger">
    <a href="{% url 'web_service:positions-list' %}" class="default-btn">No, back to workers list</a>
  </form>
  </div>
    {% else %}
      <div class="form_style_task">
        <h1>You don`t have permissions to delete positions</h1>
        <a href="{% url 'web_service:positions-list' %}" class="default-btn" style="margin-left: 170px">Back to list</a>
      </div>
  {% endif %}
{% endblock %}