{% extends "base.html" %}

{% block content %}
  <h1 style="margin-left: 690px">Positions List</h1>
  <a href="{% url 'web_service:positions-create' %}" class="default-btn" style="margin-left: 720px">Create position</a>
  <div class="centered" style="margin-top: 30px">

  <table class="centered">
    <tr>
      <th>ID</th>
      <th>Position</th>
      <th>Update/Delete</th>
    </tr>
  {% for positions in positions_list %}
    <tr>
      <td>{{ positions.pk }}</td>
      <td>{{ positions.name }}</td>
      <td>
        <a href="{% url 'web_service:positions-update' positions.pk %}">🔄</a>
        <a href="{% url 'web_service:positions-delete' positions.pk %}">🗑️</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  </div>

{% endblock %}
