{% extends "base.html" %}

{% block content %}
  <h1 style="margin-left: 655px">Task Types List</h1>
  <a href="{% url 'web_service:tasks-type-create' %}" class="default-btn" style="margin-left: 700px">Create task type</a>

  <div style="margin-top: 30px">

  <table class="centered">
    <tr>
      <th>ID</th>
      <th>Task Type</th>
      <th>Update/Delete</th>
    </tr>
  {% for type in tasks_type_list %}
    <tr>
      <td>{{ type.pk }}</td>
      <td>{{ type.name }}</td>
      <td>
        <a href="{% url 'web_service:tasks-type-update' type.pk %}">🔄</a>
        <a href="{% url 'web_service:tasks-type-delete' type.pk %}">🗑️</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  </div>


{% endblock %}
