{% extends "base.html" %}

{% block content %}
  <div class="form_style_task">

  {% if user.position.pk is 1 or user.position.pk is 3 %}
  <h1>Worker options</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" style="width: 220px;margin-left: 100px;margin-top: 50px" class="default-btn">
  </form>

  </div>
    {% else %}
    <h1>You don`t have permissions to create or update other workers</h1>
    <a href="{% url 'web_service:workers-list' %}" class="default-btn" style="margin-left: 170px">Back to list</a>
  {% endif %}
{% endblock %}

