{% extends "base.html" %}

{% block content %}
  <h1 style="margin-left: 670px">Workers List</h1>
  <a href="{% url 'web_service:worker-create' %}" class="default-btn" style="margin-left: 700px">Add worker</a>

  <form action="" method="get" style="margin-left: 650px">

    {{ search_form }}
    <input type="submit" value="🔍">
  
  </form>

  <div style="margin-top: 40px">

  <table class="centered">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Update/Delete</th>
    </tr>
  {% for worker in workers_list %}
    <tr>
      <td>{{ worker.pk }}</td>
      <td>{{ worker.username }}</td>
      <td>
        <a href="{% url 'web_service:worker-detail' worker.pk %}" style="font-size: 20px">📋</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  </div>
{% endblock %}